<app-nav></app-nav>
<div class="container" *ngIf="!socialUser">
  <div class="row m-3">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <button
            class="btn btn-outline-danger btn-lg btn-block"
            (click)="signInWithGoogle()"
          >
            <i class="fab fa-google"></i>
            Sign in with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
